.navbar_fixed {
    padding-top: 70px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 3px;
  width: auto;
}

.container-full-width {
    width: 90% !important;
}

td > textarea {
    width: 250px;
}

.btn-img {
    width: 24px;
}

.td-min {
    width: 1%;
}

.sm_hpadding {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.verified, .primary {
    border: 1px solid gray;
    padding: .25em;
    border-radius: .5em;
}