{% extends 'gui/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block content %}
    <script src="{% static 'js/sorttable.js' %}"></script>

    <h1>Admin view for the ballot '{{ballot.short_name}}'</h1>

    <div class="panel panel-default" >
        <div class="panel-heading">Ballot description</div>
        <div class="panel-body">
            {{ballot.description|safe|linebreaks}}
        </div>
    </div>

    <div class="panel panel-default" >
        <div class="panel-heading">Ballot Statistics</div>
        <div class="panel-body">
            Turnout: {{ballot.turnout}}

            <form action="{% url 'ballot-send-reminder' ballot.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="btn btn-danger pull-right{% if ballot.turnout.count == ballot.turnout.total %} disabled{% endif %}">Send reminder</button>
                </div>
            </form>
        </div>
    </div>

    {% if not ballot.has_closed %}
        <div class="panel panel-danger" >
            <div class="panel-heading">Ballot Results</div>
            <div class="panel-body">
                The ballot is still open, and thus results cannot be presented yet.
            </div>
        </div>
    {% else %}
        {% for select in ballot.select_questions.all %}
            <div class="panel panel-default" >
                <div class="panel-heading">Select: {{select.question}}</div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped table-hover table-bordered sortable">
                        <tr>
                            <th>Answer</th><th>Votes</th>
                        </tr>
                        {% for answer, count in select.tally.items %}
                            <tr><td>{{answer.answer}}</td><td sorttable_customkey="{{count.percentage}}">{{count}}</td></tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        {% endfor %}

        {% for ranking in ballot.ranking_questions.all %}
            <div class="panel panel-default" >
                <div class="panel-heading">Ranking: {{ranking.question}}</div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped table-hover table-bordered sortable">
                        <tr>
                            <th>Option</th>{% for rank in ranking.possible_options.all %}<th>Rank {{ forloop.counter }}</th>{% endfor %}<th>Final Score</th>
                        </tr>
                        {% for votes in ranking.tally %}
                            <tr><td>{{votes.ranking_option.option}}</td>{% for count in votes.count_by_rank %}<td>{{ count }}</td>{% endfor %}<td ><strong>{{votes.score}}</strong></td></tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
