{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1>Membership application - {{current_membership_period.short_name}}</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-warning" >
                <div class="panel-heading">Important information</div>
                <div class="panel-body text-center">
                    <p>You are about to apply for membership at the X.Org Foundation. Please take the time to review
    carefully the <a href="{{current_membership_period.agreement_url}}">membership agreement</a> before proceeding.</p>

                    <p>Make sure your public statement is accurate and up to date, as administrators will use this information to accept or deny your membership application.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Application form</div>
                <div class="panel-body">
                     <form id="form" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary pull-right">
                            Apply
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

        <!-- replace the membership agreement text by a link, for convenience -->
        <script type="text/javascript">
            (function($) {
            var form = $("#form");
            form.html(form.html().replace(/membership agreement/g, '<a href="{{current_membership_period.agreement_url}}">membership agreement</a>'));
            })(jQuery)
        </script>
    </div>
{% endblock %}
